<div class="container__list">
    <table>
        <thead>
            <th>Nome</th>
            <th>Email</th>
            <th>Categoria</th>
            <th>Ação</th>
        </thead>
        <tbody>
            <tr *ngFor="let pessoa of listPessoas">
                <td>{{ pessoa?.nome }}</td>
                <td>{{ pessoa?.email }}</td>
                <td>{{ getCategoriaLabel(pessoa?.categoria) }}</td>
                <td>
                    <button (click)="goToForm(pessoa.id)" class="btn primary">
                        Editar
                    </button>
                     <button (click)="remove(pessoa.id)" class="btn danger">
                        Excluir
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
